@import "tailwindcss";



.description{
    @apply px-[25px] py-[10px];
    background-color:var(--background-color)
}

.about-artist-text-container{
    @apply p-[12px];
}

.title__paragraph{
    color:var(--main-color);
}

.author-title{
    @apply p-[1rem] bg-[var(--accent-color3)]

}

.description-about{
    background-color:var(--accent-color3)
}

.followers{
    font-weight:500;
    color:var(--help-color);
    font-size:1.1rem;
}

.follow__button{
    @apply px-3 py-1
}
.follow__button:hover{
    @apply bg-[var(--accent-color2)] cursor-pointer
}
