@import "tailwindcss";



.description{
    @apply px-[25px] py-[10px];
    background-color:var(--background-color)
}

.description .about-artist-text-container{
    @apply p-[12px];
}

.description .title__paragraph{
    color:var(--main-color);
}

.description .author-title{
    @apply p-[1rem] bg-[var(--accent-color3)]

}

.description .description-about{
    background-color:var(--accent-color3)
}

.description .followers{
    font-weight:500;
    color:var(--help-color);
    font-size:1.1rem;
}

.description .follow__button{
    @apply px-3 py-1
}
.description .follow__button:hover{
    @apply bg-[var(--accent-color2)] cursor-pointer
}

.description .credit-container{
    @apply p-3
}
