@import "tailwindcss";

/*-----main-type-----*/
.music .main-type {
  background-color: rgba(0, 0, 0, 0.382);
  padding: var(--padding-main-type);
  padding-left: var(--padding-left-main-type);
}
.music .main-type button {
  @apply border-1 rounded-full cursor-pointer;
  background-color: red;
  padding: 5px;
}

/*-------main-songs-----*/
.main-songs {
  padding-left: var(--padding-left-main-type);
  padding-right: var(--padding-left-main-type);
}

/*------playlist--------*/
:root {
  --border: 16px;
}
.music .playlist {
  @apply bg-gray-900 flex items-center;
  border-radius: var(--border) var(--border) var(--border) var(--border);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.13);
  min-height: 70px;
  max-height: 70px;
}
.music .playlist-image-container {
  flex: 2.13;
  height: 100%;
  border-radius: inherit;
  border-radius: var(--border) 0px 0px var(--border);
  overflow: hidden;
}
.music .playlist-title-container {
  flex: 4;
  display: flex;
  justify-content: start;
}

.music .playlist__image {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.music .playlist__title {
  @apply pl-[1rem] font-bold text-white;
}

/*--------songs--------*/

.music .songs {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 300px;
}
.music .songs-title-container {
  @apply m-[2%];
  box-sizing: border-box;
  height: 18%;
}
.music .songs-container {
  height: 80%;
  width: auto;
  overflow-x: scroll;
  display: flex;
}

.music .song-container {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.music .song-container-inner {
  @apply hover:bg-[var(--help-color2)];
  padding: 20px;
  width:200px;
}

.music .song img {
  height: 100%;
}

.music .songs__title {
  @apply text-white font-bold;
  text-shadow: -2px 2px 20px rgba(0, 0, 0, 0.581);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  -webkit-font-smoothing: antialiased;
}

.music .song__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  border-radius:8px;
}

.music .authors__text {
  color:var(--help-color3);
}

